.button {
    padding: .9rem 1.5rem;
    border: .2rem solid #443;
    border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
    color: #443;
    background: none;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
    transition: all .2s linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    
  }
  
  .button:hover {
    border-radius: 4% 95% 6% 95% / 95% 4% 92% 5%;
    border: .2rem dashed #443;
  }